[submodule "jsoncpp"]
	path = jsoncpp
	url = git@github.com:open-source-parsers/jsoncpp.git
[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = git@github.com:greg7mdp/parallel-hashmap.git
